@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Zilla Slab", serif;
}
html {
  scroll-behavior: smooth;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/*  NAVBAR Style */
/*  WELCOMEBAR Style */

#Navbar,
#welcome-bar {
  /* background-color: antiquewhite;
  box-shadow: 0px 6px 6px rgb(61, 61, 61); */
  background-color: rgb(159, 179, 185);
  font-size: 1.1rem;
}
#Navbar .navbar-brand,
#welcome-bar .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}
#Navbar a,
#welcome-bar a {
  /* color: black; */
  color: white;
  font-size: 20px;
  padding: 0 25px;
}
#Navbar a:hover,
#welcome-bar a:hover {
  font-weight: 700;
  /* border-bottom: 1.5px solid black; */
}

/*  WElCOME Style    */

#welcome .top-content {
  background-image: url("./Images/taylor-simpson-O95wqeON_9A-unsplash.jpg");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#welcome .top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#welcome .top-content h1 {
  font-size: 7rem;
  color: white;
  font-weight: 600;
}
#welcome .top-content p {
  font-size: 2rem;
  color: black;
  font-weight: 600;
}
#welcome .about {
  height: 100vh;
  background-image: url("./Images/White-Gradient-Squares-Seamless-Patterns-For-Website-Backgrounds.jpeg");
}
#welcome .about img {
  border-radius: 2rem;
  width: 100%;
  margin-top: 10%;
}
#welcome .about h1 {
  font-size: 4rem;
}
#welcome .about p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6;
  margin-top: 5%;
}
#welcome .about .button button {
  font-size: 1.5rem;
  margin-top: 8%;
  border-radius: 1rem;
  border: 2px solid rgb(63, 165, 63);
  color: rgb(63, 165, 63);
}
#welcome .about .button button:hover {
  background-color: rgb(63, 165, 63);
  color: white;
  transition: 0.3s ease;
}
#welcome .preview {
  height: 100vh;
  /* background-image: url("./Images/istockphoto-1313116746-612x612.jpeg");
  background-size: cover; */
  background-color: rgb(159, 179, 185);
  color: white;
}
#welcome .preview h1 {
  font-weight: 600;
}
#welcome .preview img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px black;
  border-color: transparent;
}
#welcome footer {
  background-image: url("./Images/taylor-simpson-O95wqeON_9A-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 5%;
}

/*  LOGIN Style    */
/*  REGISTER Style */

#login,
#register {
  background-image: url("./Images/adam-thomas-D2i-7JrH0wI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
}
#login .card,
#register .card {
  width: 60%;
  margin: auto;
  background-color: transparent;
  border: none;
}
#login .card-body .card-title,
#register .card-body .card-title {
  font-size: 4rem;
  font-weight: 700;
}
#login label,
#register label {
  font-size: 1.6rem;
}
#login .field {
  margin: 0 5%;
}
#login form input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#login .field input,
.field span,
#register input {
  background-color: white;
}
#login form .submit {
  display: flex;
  justify-content: center;
}
#login form .submit button,
#register button {
  font-size: 1.4rem;
  color: white;
  border: 1px solid white;
  border-radius: 4rem;
}
#login form .submit button:hover,
#register button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.5s;
}
#login .bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login .bottom-content h6 {
  font-size: 1.4rem;
}
#login .bottom-content a {
  font-size: 1.3rem;
  color: white;
}

/*  HOME Style */

#home {
  background-color: whitesmoke;
}
#home .hero,
#history .hero {
  height: 70vh;
  position: relative;
}
#home .hero img,
#history .hero img {
  width: 100%;
  height: 100%;
}
#home .hero .top-content,
#history .hero .top-content {
  position: absolute;
  bottom: 49%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3rem;
}
#home .top-content h2,
#history .top-content h2 {
  font-weight: 600;
  font-size: 3rem;
}
#home .top-content blockquote,
#history .top-content blockquote {
  font-size: 2rem;
}
#home .sections {
  padding-top: 5%;
}
#home .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  padding: 10%;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px lightgray;
}
#home .card i {
  font-size: 2.5rem;
  color: rgb(159, 179, 185);
}
#home .card h1 {
  font-size: 2.5rem;
}
#home .card button {
  margin-top: 10%;
  font-size: 1.4rem;
  border-radius: 1rem;
  color: rgb(63, 165, 63);
  border: 2px solid rgb(63, 165, 63);
}
#home .card button:hover {
  background-color: rgb(159, 179, 185);
  color: white;
  border: none;
  transition: 0.3s ease;
}

/*  HISTORY Style */

#history {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
}
#history .top-content h2 {
  font-weight: 600;
}
#history .top-content blockquote {
  font-size: 1.5rem;
}
#history .sections {
  padding: 5% 0;
}
#history .row .col-4 {
  position: relative;
  overflow: hidden;
}
#history .card {
  height: 450px;
  text-align: center;
  border: none;
}
#history .card img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}
#history .layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
#history .layer h3 {
  width: 100%;
  font-weight: 600;
  color: white;
  font-size: 3rem;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 65%;
}
#history .heading {
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 2px solid black;
}
#history .btn {
  font-size: 1.5rem;
}
#history .position {
  position: relative;
}
#history .position .card {
  padding: 0;
  border: none;
  margin-top: 3%;
  margin-bottom: 10%;
  height: 400px;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px lightgray;
}
#history .position .card .delete {
  position: absolute;
  color: black;
  font-size: 1.5rem;
  top: 3%;
  right: 3%;
  cursor: pointer;
}
#history .card-content img {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 15%;
  right: 5%;
  border-radius: 2rem;
}
#history .card-content {
  color: black;
  padding-left: 2%;
}
#history .card-content .title {
  position: absolute;
  top: 16px;
  font-size: 3.2rem;
  font-weight: 600;
}
#history .card-content .subtitle {
  position: absolute;
  top: 80px;
  font-size: 1.4rem;
  font-weight: 200;
}
#history .card-content p {
  position: absolute;
  bottom: 50px;
  font-size: 1.8rem;
  font-weight: 200;
}
#history .card-content .desc {
  position: absolute;
  top: 25%;
  font-size: 0.9rem;
  line-height: 1.6;
  width: 55%;
}
#history .add-new button {
  margin-top: 3%;
  font-size: 1.4rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid black;
  color: black;
}
#history .add-new button:hover {
  background-color: rgb(63, 165, 63);
  border: 2px solid rgb(63, 165, 63);
  color: white;
  transition: 0.3s ease;
}
#history footer {
  color: black;
}

/*  OVERVIEW Style */

#overview {
  color: rgba(255, 255, 255, 0.829);
}
#overview .main-content {
  padding-top: 5%;
}
#overview .back {
  font-size: 1.5rem;
  color: white;
}
#overview .main-content h1 {
  font-size: 4.1rem;
  font-weight: 700;
}
#overview .circle {
  border: 2px solid;
  text-align: center;
  padding: 10px;
  width: 90px;
  font-size: 1.5rem;
  font-weight: 600;
  height: 85px;
  line-height: 1;
}
#overview .circle p {
  padding-top: 0.4rem;
}
#overview .info {
  font-size: 1.5rem;
  line-height: 1.6;
}
#overview .discover {
  display: flex;
  justify-content: end;
}
#overview .discover button {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 1rem;
  background-color: rgb(99, 12, 99);
  border: 1px solid rgb(99, 12, 99);
  color: rgba(255, 255, 255, 0.829);
}
#overview .flight-info {
  margin-top: 10%;
}
#overview .flight-info .col-4 {
  position: relative;
}
#overview .flight-info .card {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}
#overview .flight-info .card img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}
#overview .flight-info .card h2 {
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  font-size: 3rem;
  font-weight: 600;
  transform: translateY(25%);
  transition: 0.5s;
}
#overview .flight-info .card button {
  position: absolute;
  top: 65%;
  left: 42%;
  width: 15%;
  font-size: 1.6rem;
  background-color: antiquewhite;
  transform: translateY(65%);
  transition: 0.5s;
}
#overview .flight-info .card button:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#overview .flight-info .card button:hover {
  cursor: pointer;
}
#overview .flight-info .transform h2 {
  transform: translateY(-200%);
  font-size: 2rem;
  transition: 0.5s;
}
#overview .flight-info .transform button {
  transform: translateY(150%);
  font-size: 1.3rem;
  transition: 0.5s;
}
#overview .flight-content {
  position: absolute;
  top: 0;
  left: 40%;
  width: 100%;
  visibility: hidden;
  transition: 0.4s;
  transform: translateX(25%);
}
#overview .transform .flight-content {
  position: absolute;
  top: 25%;
  width: 100%;
  color: black;
  transition: 0.5s;
  visibility: visible;
  transform: translate(-40%);
}
#overview .flight-content a,
#overview .flight-content p {
  font-size: 1.4rem;
  color: black;
}
#overview .bar {
  width: 100%;
  height: 10px;
  border-radius: 4rem;
  background-color: lightgray;
}
#overview .bar .progressing {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 4rem;
}
#overview .bar .circle-bar {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 6px solid black;
  border-radius: 50%;
  transform: translateY(-18px);
}
#overview .stops {
  padding-top: 15%;
}
#overview .stops h1,
#overview .bottom-content h1 {
  font-weight: 600;
  font-size: 3.3rem;
  padding-bottom: 3%;
}
#overview .stops h4:hover {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
#overview .bottom-content {
  margin-top: 15%;
}
#overview .posts .card,
#overview .locations .card {
  padding: 0;
  border: none;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: relative;
}
#overview .posts .card .delete,
#overview .locations .card .delete {
  position: absolute;
  color: white;
  font-size: 1.4rem;
  top: 3%;
  right: 3%;
  cursor: pointer;
}
#overview .locations .back .flip {
  position: absolute;
  top: 3%;
  left: 3%;
  cursor: pointer;
  font-size: 1.4rem;
}
#overview .posts .card:hover,
#overview .locations .active {
  transform: rotateY(180deg);
}
#overview .locations .card img {
  cursor: pointer;
}
#overview .posts .card .back,
#overview .locations .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  overflow: scroll;
}
#overview .posts .back .caption p,
#overview .locations .back .caption p {
  position: relative;
  padding: 0 5%;
  line-height: 1.6;
  font-size: 2rem;
}
#overview .locations .card {
  width: 360px;
  height: 450px;
}
#overview .locations .card img {
  height: 100%;
}
#overview .locations .agenda .item {
  display: flex;
  color: lightgray;
}
#overview .locations .agenda .item:hover,
#overview .locations .agenda .item .completed {
  cursor: pointer;
  font-weight: 600;
  color: white;
}
#overview .locations .agenda .add-itinerary button {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 1rem;
  background-color: rgb(99, 12, 99);
  border: 1px solid rgb(99, 12, 99);
  color: rgba(255, 255, 255, 0.829);
}
#overview .card {
  padding: 0;
  border: none;
}
#overview .card img {
  width: 100%;
  height: 400px;
  border-radius: 1rem;
}
#overview h3 {
  font-size: 2.2rem;
  font-weight: 500;
  font-style: italic;
}
#overview .col-4 {
  padding: 2%;
}
#overview .button button {
  font-size: 1.4rem;
  margin-top: 10%;
  background-color: rgb(63, 165, 63);
  color: white;
  border: 2px solid rgb(63, 165, 63);
  border-radius: 1rem;
}
#overview .button button:hover {
  background-color: transparent;
  transition: 0.3s ease;
}
#overview .comment {
  padding-top: 10%;
}
#overview .comments p {
  font-size: 1.3rem;
  padding: 1% 10%;
}
#overview .comments {
  position: relative;
}
#overview .comments .delete {
  position: absolute;
  top: 3%;
  right: 3%;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
#overview .add-comment form {
  padding: 0 10%;
}

/* ADD-ADVENTURE style */
/* ADD-POST style */

#add-adventure,
#add-post,
#add-stop {
  background-color: whitesmoke;
  color: black;
}
#add-adventure .title,
#add-post .title,
#add-stop .title {
  font-weight: 600;
}
#add-adventure label,
#add-post label,
#add-stop label {
  font-size: 1.2rem;
}
#add-adventure input,
#add-post input,
#add-stop input {
  border-radius: 1rem;
  border-color: black;
}
#add-adventure input:focus,
#add-post input:focus,
#add-stop input:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#add-adventure textarea {
  padding: 1%;
  border-radius: 1rem;
}
#add-adventure .button button,
#add-post .button button,
#add-stop .button button {
  font-size: 1.3rem;
  margin-top: 5%;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 1rem;
  color: black;
}
#add-adventure .button button:hover,
#add-post .button button:hover,
#add-stop .button button:hover {
  background-color: rgb(63, 165, 63);
  border: 2px solid rgb(63, 165, 63);
  transition: 0.3s ease;
  color: white;
}

/* FRIENDS style */
#friends {
  background-color: whitesmoke;
}
#friends .input-group {
  margin: 0 25%;
  width: 50%;
  position: relative;
  font-size: 25px;
  border: none;
  transition: 0.2s;
}
#friends .form-control {
  border-radius: 1rem;
  height: 45px;
  font-size: 1.2rem;
  border: 1px solid black;
}
#friends form input:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#friends .input-group button {
  border-radius: 1rem;
  height: 45px;
  position: absolute;
  right: 0px;
  border: none;
  font-size: 20px;
  transition: 0.2s all;
}
#friends .card {
  margin: 0 3%;
  padding: 2%;
  border-radius: 1rem;
  height: 200px;
  animation-name: slideup;
  animation-duration: 1s;
}
@keyframes slideup {
  from {
    bottom: -200px;
  }
  to {
    bottom: 0px;
  }
}
#friends .card:hover {
  cursor: pointer;
}
#friends .card-content {
  padding: 20% 0;
}
#friends .card-content .icon,
#friends .card-content h3 {
  font-size: 2rem;
  color: black;
}
#friends footer {
  padding-bottom: 5%;
}

/* FOOTER style */

#footer i {
  color: red;
}
#footer {
  padding-top: 15%;
  text-align: center;
  padding-bottom: 5%;
}

/* NOT FOUND style */
#notFound h1 {
  font-size: 6rem;
}

/* Responsive styles */

@media screen and (max-width: 800px) {
  /* WELCOME */

  #welcome .top-content {
    height: 60vh;
  }
  #welcome .top-content h1 {
    font-size: 4rem;
  }
  #welcome .top-content p {
    font-size: 1rem;
  }
  #welcome .about h1 {
    font-size: 2rem;
  }
  #welcome .about img {
    margin-top: 25%;
  }
  #welcome .about {
    height: 65vh;
  }
  #welcome .about p {
    font-size: 10px;
  }
  #welcome .about .button button {
    font-size: 1rem;
  }

  /* LOGIN */
  /* REGISTER */

  #register {
    height: 130vh;
  }
  #login .card,
  #register .card {
    width: 90%;
  }
  #login .card-body .card-title,
  #register .card-body .card-title {
    font-size: 2rem;
  }
  #login label,
  #register label {
    font-size: 1rem;
    padding-top: 8%;
  }
  #login .field {
    margin: 0 3%;
  }
  #login form .submit button,
  #register button {
    font-size: 1rem;
  }
  #login .bottom-content h6,
  #login .bottom-content a {
    font-size: 1.2rem;
  }
  #register form {
    display: flex;
    flex-direction: column;
  }
  #register form label,
  #register form input {
    width: 290px;
  }
  #register form .last label,
  #register form .last input {
    margin-left: -15%;
  }
  #register form .email label,
  #register form .email input {
    margin-left: -40%;
  }

  /* HISTORY */

  #history .top-content h2 {
    font-size: 1.3rem;
  }
  #history .top-content blockquote {
    font-size: 1rem;
    margin: 0 10%;
  }
  #history .heading {
    font-size: 2rem;
  }
  #history .row {
    display: flex;
    flex-direction: column;
  }
  #history .card {
    width: 330px;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  #history .card img {
    width: 100%;
    height: 300px;
  }
  #history .card-content {
    padding-left: 10%;
  }
  #history .card-content .title {
    top: 20px;
    font-size: 2rem;
  }
  #history .card-content .subtitle {
    top: 60px;
    font-size: 1.2rem;
  }
  #history .card-content p {
    font-size: 1.2rem;
  }
  #history .add-new button {
    margin-top: 3%;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
  #history .add-new button:hover {
    background-color: rgb(63, 165, 63);
    border: 2px solid rgb(63, 165, 63);
    color: white;
    transition: 0.3s ease;
  }

  /* OVERVIEW */

  #overview .main-content h1 {
    font-size: 3rem;
    padding-bottom: 5%;
  }
  #overview .top {
    display: flex;
    flex-wrap: wrap;
  }
  #overview .circle {
    padding: 15px;
    width: 70px;
    font-size: 1rem;
    height: 80px;
  }
  #overview .info {
    font-size: 1rem;
    margin-left: 10%;
    width: 70%;
  }
  #overview .discover button {
    font-size: 1rem;
  }
  #overview .bottom-content {
    margin-top: 15%;
  }
  #overview .bottom {
    display: flex;
    flex-direction: column;
  }
  #overview .card {
    padding: 0;
    border: none;
    width: 330px;
    margin-left: 15%;
  }
  #overview .card img {
    width: 100%;
    height: 300px;
    border-radius: 1rem;
  }
  #overview h3 {
    font-size: 1.5rem;
    width: 330px;
    margin-left: 15%;
  }
  #overview .icons {
    width: 200px;
    margin-left: 15%;
  }
  #overview .button button {
    font-size: 1rem;
  }

  /* ADD-ADVENTURE */
  /* ADD-POST */

  #add-post .title,
  #add-adventure .title {
    font-size: 1.5rem;
  }
  #add-post label,
  #add-adventure label {
    font-size: 1.2rem;
  }
  #add-post input,
  #add-adventure input {
    width: 300px;
  }
  #add-adventure button,
  #add-post button {
    font-size: 1rem;
  }
  #add-post input,
  #add-post .heading,
  #add-post label,
  #add-adventure input,
  #add-adventure .heading,
  #add-adventure label,
  #add-adventure textarea {
    margin-left: 5%;
  }
  #add-post .form-label {
    margin-top: -5%;
  }
  #add-adventure textarea {
    width: 250px;
  }

  /* FOOTER */

  #footer {
    padding-top: 20%;
  }
  #footer h4,
  #footer h5 {
    font-size: 18px;
  }
}
